[submodule "livro-receitas"]
	path = livro-receitas
	url = https://github.com/LuizFernandoUFPE/livro-receitas.git
[submodule "visual-studio"]
	path = visual-studio
	url = git@github.com:LuizFernandoUFPE/visual-studio.git
[submodule "intro-CSharp-e-.NET"]
	path = intro-CSharp-e-.NET
	url = git@github.com:LuizFernandoUFPE/intro-CSharp-e-.NET.git
[submodule "primeiros-passos-dotnet"]
	path = primeiros-passos-dotnet
	url = https://github.com/LuizFernandoUFPE/primeiros-passos-dotnet.git
[submodule "progamacao-orientada-a-objeto"]
	path = progamacao-orientada-a-objeto
	url = git@github.com:LuizFernandoUFPE/progamacao-orientada-a-objeto.git
